<div class="hidden">
    <%- include("./partials/header.ejs") %>
</div>
<div class="bg-zinc-900 flex justify-center items-center h-screen">
    <div class="max-w-6xl mx-auto px-10 flex gap-16 items-center flex-wrap">
        <div class="illustration-container ">
            <!-- Illustration related to todo list website -->
            <img width="500" height="500" src="svg/todo_illustration.svg" alt="Todo List Illustration">

        </div>
        <div class="button-container flex flex-col justify-center text-center items-center">
                <h1 class="text-4xl font-bold mb-8 text-white text-center">Welcome to Todo List</h1>
                <a href="/register" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full mb-4 w-56 text-center">Register</a>
                <a href="/login" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-full w-56 text-center">Login</a>
        </div>
    </div>
</div>